body#login {
    text-align: center;
    background-color: #a2ce6a;
    padding-top: 40%;
}

body#login img {
    width: 8em;
}

body#login h1 {
    font-size: 1.3rem;
}

body#login form {
    font-size: 1.3rem;
}

body#login input,
select {
    width: 80%;
    height: 1.5em;
    font-size: 1.3rem;
}

body#login span {
    margin-top: 4rem;
    font-size: 1rem;
}

body#login div#container {
    width: 80%;
    height: auto;
    text-align: center;
}

body#login button {
    border-radius: 25px;
    width: 2em;
}